ul.breadcrumb {
    list-style: none;
}
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li span {
    color: #0275d8;
    text-decoration: none;
}
ul.breadcrumb li span:hover {
    color: #01447e;
    display: inline-block;
    text-decoration: underline;
}
.episode_img{
    width: 18.75rem;
    height: 12rem;
    border-radius: 0.4rem;
}
.episode_title{
    margin-top: 4rem;
    font-size: 1.3em;
}
.episode_subtitle{
    display: flex;
    flex-wrap: wrap;
}
.episode_subtitle p{
    margin: 0 2rem 0 0;
}
.trailer{
    width: 100%;
    height: 18.75rem;
    margin-top: 1rem;
}