ul.breadcrumb {
    list-style: none;
    margin-bottom: 2rem;
}
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li span {
    color: #0275d8;
    text-decoration: none;
}
ul.breadcrumb li span:hover {
    color: #01447e;
    display: inline-block;
    text-decoration: underline;
}
.episode_img{
    width: 18.75rem;
    height: 12rem;
    border-radius: 0.4rem;
}
.episode_subtitle{
    display: flex;
    flex-wrap: wrap;
}
.episode_title{
    font-size: 1.3rems;
}
.episode_subtitle p{
    margin: 0 2rem 0 0;
}
.description{
    margin-bottom: 13%;
}
/* Media Queries */
@media (min-width:1920px) {
    .description{
      margin-bottom: 19%;
    }
  }